[Unit]
Description=Lightning Network Daemon (LND)
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/lnd --lnddir=/home/lnd/.lnd
ExecStop=/usr/local/bin/lncli stop

# Process management
Restart=on-failure
RestartSec=60
Type=notify
TimeoutStartSec=1200
TimeoutStopSec=3600

# Runtime directory
RuntimeDirectory=lightningd
RuntimeDirectoryMode=0710
User=lnd
Group=lnd
UMask=0027

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
MemoryDenyWriteExecute=true
ProtectSystem=full


[Install]
WantedBy=multi-user.target
